PUBLIC_CONTACT_API_URL=https://gjtn9lelk3.execute-api.us-east-1.amazonaws.com/default/yw2-contact-form
PUBLIC_HERO_INTRO_VIDEO_URL=https://d1td79ts94gosl.cloudfront.net/videos/video-1-funny.mp4
PUBLIC_HERO_LOOP_VIDEO_URL=https://d1td79ts94gosl.cloudfront.net/videos/hero_video.mp4
